*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent {
  width: 500px;
  height: 460px;
  background-color: yellow;
  padding-inline: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.container {
  width: 484px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen {
  height: 75px;
  background: red;
  padding: 10px;
  display: flex;
  align-items: center;
}
.inline {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.inline div {
  width: 100px;
  height: 50px;
  background: rgb(166, 160, 160);
  margin: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
}
